/* 
=============VARIABLE================
*/
:root{
  /*COLOR*/
  --color-primary: #4c13d1;
  --color-secondary: #fbf8f3;
  --text-color-primary: white;
  --text-color-secondary: black;
  /*TYPOGRAPY*/
  --font-primary: 'Quicksand', sans-serif;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
  --font-weight-extralight: 200;
  --border-primary:rgba(0, 0, 0, 0.2)

  /**/
}
/* 
=============CSS RESET================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    color: black;
    font-family: var(--font-primary);
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
=============REUSEABLE================
*/
.container{
    padding-block: 1.3rem;
    padding-inline: 5rem;
}
.btn{
    padding: 1.2rem 1.4rem;
    border: none;
    border-radius: .3rem;
    background-color: transparent;
    font-size: 1em;
    font-weight: var(--font-weight-semibold);
}
.btn.primary{
    background-color: var(--color-primary);
    color: var(--text-color-primary);
}
.btn.secondary{
    background-color: var(--text-color-primary);
    color: var(--color-primary);
}
/* 
=============CHANGE AREA================
*/

/* 
=============LOBBY================
*/
/* navbar */
header{
    background-color: var(--color-secondary);
    width: 100%;
    margin-block-end: 2em;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 2rem;
}
.logo a{
    font-size: 2em;
    font-weight: var(--font-weight-semibold);
}
.feature ul{
    display: flex;
    font-size: 1em;
}
.feature ul li{
    margin-inline-end: .5em;
    font-weight: var(--font-weight-medium);
}
.hamburger{
    display: none;
}

/* hero */
.hero{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--font-weight-medium );
}
.hero-detail{
    width: 100%;
    margin-block-start: -1em;
}
.hero-detail .rated{
    display: flex;
    margin-block-end: 1.6em;
}
.rate{
    margin-inline-start: 1em;
}
.hero-title h1{
    font-weight: var(--font-weight-bold);
    font-size: 4.5em;
    margin-block-end: .3em;
}
.hero-btn{
    margin-block-end: 1.2em;
}
.hero-subtitle p{
    font-weight: var(--font-weight-regular);
    font-size: 1.3em;
    margin-block-end: .3em;
    line-height: 1.4em;
    margin-block-end: .3em;
    opacity: .6;
}
.link.primary{
    color: var(--color-primary);
    text-decoration: underline;
    font-size: 1.4em;
    margin-inline-start: 1em;
    font-weight: var(--font-weight-bold);
}
.hero-info {
    display: flex;
}
.hero-info p{
    display: flex;
    align-items: center;
}
.hero-info p:nth-child(2){
    margin-inline-start: 1em;
}
.hero-info p img{
    margin-inline-end: .5em;

}
.hero-img{
    width: 80%;

}
.hero-img img{
    width: 100%;
}
/*  about */
.about{
    margin-block-end: 3em;
}
.why h4{
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
    font-size:1.3em;
    margin-block-end: 1em;
}
.why h1{
    font-weight: var(--font-weight-bold);
    font-size:3.3em;
    width: 50%;
    margin-block-end: .8em;
}
.cards{
    display: flex;
}
.card{
    margin-inline-end: 1em;
}
.card img{
    margin-block-end: .5em;
}
.card h3{
    font-weight: var(--font-weight-bold);
    margin-block-end: .5em;
    font-size: 1.2em;
}
.card p{
    font-size: 1.2em;
    width: 90%;
    opacity: .6;
}

/* trial */
.trial{
    margin-block-end: 2rem;
}
.trial-wrapper{
    background-color: var(--color-primary);
    display: flex;
    border-radius: 2em;
    padding-inline: 2em;
    padding-block-start: 2em ;
}
.deskription{
    margin-block-start: 8em;
    width: 70%;
}
.deskription h1{
    color: var(--text-color-primary);
    font-size: 3em;
    font-weight: var(--font-weight-bold);
    margin-block-end: .7em;
}
.deskription p{
    color: var(--text-color-primary);
    font-size: 1.2em;
    font-weight: var(--font-weight-medium);
    margin-block-end: 2em;
}
.trial-img{
    width: 70%;
}
.trial-img img{
    width: 100%;
    margin-block-end: -2px;
}

/* Review */
.review{
    margin-block-end: 2rem;
}
.container-review{
    padding-block: 1.3rem;
    padding-inline-start: 5rem;
    width: 101%;
}
.review .card{
    padding: 2em;
    margin-inline: 1rem;
    border: 1px solid var(--border-primary);
    border-radius: .4em;
}
.review .card p{
    opacity: 1;
}

.review .card .card-header {
    display: flex;
    align-items: center;
    margin-block-end: 1em;
}
.profile{
    margin-block-start: -10px;
}
.review .card .card-header p{
   width: 100%;
   margin-inline-start: 1rem;
   padding-block-end: 3px;
}
.profile .card-title{
    color: var(--color-primary);
    font-size: 1.3em;
    font-weight: var(--font-weight-bold);
}
.profile .renevue{
    font-size: 1em;
}
.card-deks{
    font-weight: var(--font-weight-medium);
    line-height: 1.2em;
    margin-block-end: 1em;
}
.review .card .btn{
    border: 1px solid var(--border-primary);
    width: 100%;
}

/* footer */
footer{
    background-color: var(--color-secondary);
    height: 100%;
}
.grid{
    display: flex;
}
.row{
    padding-inline:2em;
    padding-block:2em 1em;
}
.row:nth-child(1){
    width: 50%;
}
.row-content h1{
    font-size: 1.1em;
    font-weight: var(--font-weight-bold);
    margin-block-end: .9em;
}
.row-content p{
    margin-block-end: .9em;
    width: 90%;
}
.row-content ul li{
    margin-block-end: .7em;
}

/* 
=============LOGIN================
*/
/* KAMU DISINI FI */


/* 
=============RESPONSIVE MOBILE PHONE================
*/
/* HOME */
@media screen and (max-width:767px) {
    /* 
    =============REUSEABLE================
    */
    .container{
        padding-block: 1rem;
        padding-inline: 2rem;
    }
    /* home */
    .nav{
        margin-block-end: 0rem;
    }
    .feature, .acces, .hero-detail .rated{
        display: none;
    }
    .hamburger{display: block;}
    /* hero */
    .hero{
        display: block;
        font-weight: var(--font-weight-medium );
    }
    .hero-title h1{
        font-weight: var(--font-weight-bold);
        font-size: 3em;
        margin-block-end: .3em;
    }
    .hero-btn{
        margin-block-end: 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: center;    
    }
    .hero-subtitle p{
        font-weight: var(--font-weight-regular);
        font-size: 1.3em;
        margin-block-end: .3em;
        line-height: 1.4em;
        margin-block-end: .5em;
        opacity: .6;
    }
    .link.primary{
        text-align: center;
        color: var(--color-primary);
        text-decoration: underline;
        font-size: 1.4em;
        margin-block: .7em;
        font-weight: var(--font-weight-bold);
    }
    .hero-info {
        display: flex;
        flex-direction: column;
    }
    .hero-info p{
        display: flex;
        align-items: center;
        margin-block-end: 1em;
    }
    .hero-info p:nth-child(2){
        margin-inline-start: 0em;
    }
    .hero-info p img{
        margin-inline-end: .5em;
    }
    .hero-img{
        width: 100%;
        margin-block-end: 2rem;
    }
}

